# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

_build
*.beam
concuerror_report.txt
erl_crash.dump
thediff
rebar3
