# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.

src/concuerror_version.hrl
ebin/*.beam
ebin/*.Pbeam
/concuerror
.concuerror_plt
concuerror_report.txt
erl_crash.dump
scenarios.beam
tests/thediff
*.dot
*.COVER.html
cover-data
